<!-- start banner Area -->
<section class="home-banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between" style="height: 937px;">
            <div class="home-banner-content col-lg-6 col-md-6">
                <h1>Eugene S. Subrado Jr</h1>
                <h3>IT Professional / Software Developer</h3>
                <p> A professional software engineer with about ten (10) years of
                    experience in developing quality, robust, and optimized front end
                    web pages. Knowledgeable in JavaScript, jQuery, SharePoint,
                    Kendo UI, Bootstrap, React and others. Developed, contributed,
                    and completed major automation projects for a pharmaceutical
                    company that employs more than 5,000 individuals globally. 
                </p>
                
            </div>
            <div class="banner-img col-lg-4 col-md-6">
                <img class="rounded" src="assets/img/ProfilePic.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start projects area -->
<section class="feature-area">
    <div class="container"> 
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-5">
                    <h2>Feature Contributions</h2>
                    <p>Check my complete profile in Linked in below. For more information, open my LinkedIn profile by clicking this <a href="https://www.linkedin.com/in/essubrado/">link</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 home-about-left">
                         <div
                            pAnimateOnScroll
                            enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
                            leaveClass="animate-leave fade-out-0"
                            class="p-8 gap-4"
                        >
                         <img class="img-fluid" src="/assets/img/alp_4.jpg" alt="" (click)="open({imageId: 1})">                    
                        </div>                       
                    </div>

                    <div class="offset-lg-1 col-lg-5 home-about-right">
                         <div
                            pAnimateOnScroll
                            enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                            leaveClass="animate-leave fade-out-0"
                            class="p-8 gap-4"
                        >
                            <h2>Safety Data Sheet Report Auto Generation Application</h2>
                            <p class="my-2 mb-3">
                               This tools is an modular report generating software exclusive for pharmaceutical institution. I've involved mostly in developing core 
                            core front end logic functionalites and API connections(.Net Server) using SPA type, jQuery, Bootstrap and Kendo UI.</p>  

                            <p class="my-2 mb-3"> 
                                This tool enables clients to send newly created and approved drugs to regulatory agencies per country. This is developed using Model View Viewmodel Framework and Agile methodology 
                            that enforces continuous improvement and delivery. Also helped in incorporating to tool to new platforms such as React and Angular.                                                        
                            </p>  
                        </div>                                     
                    </div>
                    <div class="col-lg-6 home-about-right home-about-right2 m-0">
                         <div
                            pAnimateOnScroll
                            enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
                            leaveClass="animate-leave fade-out-0"
                            class="p-8 gap-4"
                        >
                           <h2>Event Scheduler UI Revamp</h2>
                            <p class="my-2">
                                This collaborative feature enables event managers to assign employees into an enchancement training
                                based on a preferred catalog. These catalogs include some of best standards in pharmaceutical industry whose aim is to 
                                increase productivity and ultimately on achieving its goal. (LEAN Manufacturing and Six Sigma).</p>  

                            <p class="my-2"> 
                                The revamp version uses MVVM architectural pattern for manageability and better in error debugging. We also upgraded the Kendo UI version 
                                and used Bootstrap for layout. On Sharepoint backend support, instead of using javascript CSOM (Client Side Object Model) to get data, we are now
                                employing the REST API.                               
                            </p>  
                        </div>                                        
                    </div>
                    <div class="col-lg-5 home-about-left">
                        <div
                            pAnimateOnScroll
                            enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                            leaveClass="animate-leave fade-out-0"
                            class="p-8 gap-4"
                        >                    
                              <img class="img-fluid" src="/assets/img/imageOneSm.jpg" alt="" (click)="open({imageId: 1})">   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row align-items-center">              
                    <div class="col-lg-5 home-about-left">
                        <img class="img-fluid" src="/assets/img/imageThreeSm.jpg" alt="" (click)="open({imageId: 3})">
                    </div>
                    <div class="offset-lg-1 col-lg-5 home-about-right">
                        <h2>List Importer Facility</h2>
                        <p class="my-2">
                            This web page based tool was created to import data from MS Excel to a sharepoint list. 
                        </p>   
                        <p class="my-2">
                            This simple yet powerful tool is useful when importing large chunks of data in spreadsheet in a small window of time. 
                            It uses Sharepoint's JS CSOM for creating entries and Kendo UI Components for import progress and other controls.     
                        </p>                       
                    </div>   
                    <div class="col-lg-6 home-about-right home-about-right2 m-0">
                         <div
                            pAnimateOnScroll
                            enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
                            leaveClass="animate-leave fade-out-0"
                            class="p-8 gap-4"
                        >
                            <h2>Employee Upskilling Feature</h2>
                            <p class="my-2">
                                Another collaborative feature in which users are able to keep track their trainings, achievement and other competency certificate
                                which will then be used for employee appraisal or promotion.
                            </p>   
                            <p class="my-2">
                                It uses bootstrap for layout and kendo UI for grids and other components such as the dropdown option. There is also an administration page that only a user with special role have access in.
                                This is made possible my creating a permission group with special privileges within the Sharepoint site.
                            </p>  
                        </div>                                        
                    </div>
                    <div class="col-lg-5 home-about-left">
                        <div
                            pAnimateOnScroll
                            enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                            leaveClass="animate-leave fade-out-0"
                            class="p-8 gap-4"
                        >                    
                            <img class="img-fluid" src="/assets/img/imageTwoSm.jpg" alt="" (click)="open({imageId: 2})">
                        </div>
                    </div>                 
                </div>
            </div>
        </div>   
        
        
    </div>
</section>
<!-- End projects Area -->

<!-- Start fact Area -->
<section class="fact-area section-gap-top">
    <div class="container">  
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-5">
                    <h2>Top Skills</h2>     
                    <p>Rated based on skill proficiency and current learning curve</p>              
                </div>
            </div>
        </div>       
        <div class="fact-box">           
            <div class="row align-items-center">
                <div class="col single-fact ">
                    <h6 class="p-1">JavaScript / jQuery </h6>
                    <span style="font-size: xx-small;" class="px-1 progressnames">Beginner</span>
                    <kendo-progressbar class="w-50" [value]="value1" [label]="false"></kendo-progressbar>
                    <span style="font-size: xx-small;" class="px-1 progressnames">Expert</span>              
                </div>
                <div class="col single-fact">
                    <h6 class="p-1">HTML5-CSS3-Bootstrap</h6>
                    <span style="font-size: xx-small;" class="px-1 progressnames">Beginner</span>
                    <kendo-progressbar class="w-50" [value]="value2" [label]="false"></kendo-progressbar>
                    <span style="font-size: xx-small;" class="px-1 progressnames">Expert</span>              
                </div>
                <div class="col single-fact">
                    <h5 class="p-1">Kendo UI </h5>
                    <span style="font-size: xx-small;" class="px-1 progressnames">Beginner</span>
                    <kendo-progressbar class="w-50" [value]="value3" [label]="false"></kendo-progressbar>
                    <span style="font-size: xx-small;" class="px-1 progressnames">Expert</span>              
                </div>
                <div class="col single-fact">
                    <h5 class="p-1">Angular</h5>
                    <span style="font-size: xx-small;" class="px-1 progressnames">Beginner</span>
                    <kendo-progressbar class="w-50" [value]="value4" [label]="false"></kendo-progressbar>
                    <span style="font-size: xx-small;" class="px-1 progressnames">Expert</span>              
                </div>
                <div class="col single-fact">
                    <h5 class="p-1">Phyton and Flask</h5>
                    <span style="font-size: xx-small;" class="px-1 progressnames">Beginner</span>
                    <kendo-progressbar class="w-50" [value]="value5" [label]="false"></kendo-progressbar>
                    <span style="font-size: xx-small;" class="px-1 progressnames">Expert</span>              
                </div>
            </div>
        </div>       
    </div>
</section>
<!-- End fact Area -->

<!-- Start work experience area -->
<section class="section-gap-top pb-5">
    <div class="container feat-container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-5">
                    <h1>Work Experience</h1>    
                    <p>See my full work experience in <a href="https://www.linkedin.com/in/eugene-jr-subrado-338aa2120/">LinkedIn</a>.</p>                
                </div>
            </div>
        </div>
        <div class="row feat-divider">
            <div class="col-lg-4 col-sm-12 align-items-center">
                <div class="job-details">
                    <h3>Sharepoint Front-End Developer</h3>
                    <p>Xtensa Inc, Dumaguete City</p>
                    <p>August 2015 - Present</p>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 align-items-center">                
                <p>Developed webpages for a pharmaceutical company for employee events or workshop 
                    scheduler and process automation using Sharepoint platform.</p>
                <p>The following skills attained on developing the projects:</p>
                <ul class="unordered-list">
                    <li>HTML5, CSS3 (basic), JavaScript (JQuery), Typescript (Angular 2+).</li>
                    <li>MVVM or MVC Architecture for Web development and maintenance.</li>            
                    <li>MS SharePoint DevOps. Setting lists, permissions, create sites, using CSOM for data retrieval and distribution.</li> 
                    <li>Use of Browser Development Tool for Error Debugging and Fiddler for CRUD testing (REST API).</li> 
                    <li>Use of Source Tree and Github for source control software.</li>                     
                </ul> 
            </div>    
        </div>
        <div class="row feat-divider">
            <div class="col-lg-4 col-sm-12 align-items-center">
                <div class="job-details">
                    <h3>Customer Retention Team CRT- CSR</h3>
                    <p>Qualfon Philippines Incorporated</p>
                    <p>October 2014 - July 2015</p>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 align-items-center">                
                <p>A customer relations agent that provides telecom services to clients customers. Also was assigned in sales and after sales services.</p>
                <p>The following skills attained on this experience:</p>
                <ul class="unordered-list">
                    <li>Enchanced communication skills in English. Our customers are mainly from North America.</li>
                    <li>Technical skills in diagnosing defective smartphones via phone call</li> 
                </ul> 
            </div>           
        </div>
        <div class="row feat-divider">
            <div class="col-lg-4 col-sm-12 align-items-center">
                <div class="job-details">
                    <h3>Information Technology Auditor</h3>
                    <p>Silliman University, Dumaguete City</p>
                    <p>June 2013 - May 2014 (Project Employee)</p>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 align-items-center">                
                <p>An IT Auditor whose main task was tag and record IT physical devices inventory and ensure security of the facility which houses these</p>
                <p>The following skills attained as an IT Auditor:</p>
                <ul class="unordered-list">
                    <li>Impementation of risk assessment and basic IT auditing using global standards</li>
                    <li>The use of COBIT standards to supplement audit knowledge</li> 
                </ul> 
            </div>          
        </div>
    </div>
</section>
<!-- End work experience Area -->

<!-- Start about-video Area -->
<section class="about-video-area section-gap-top">
    <div class="vdo-bg">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12 about-video-right justify-content-center align-items-center d-flex relative">
                    <div class="overlay overlay-bg"></div>
                    <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="/assets/img/play-btn.png"
                         alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about-video Area -->

<!-- Start education area -->
<section class="section-gap-top section-gap-bottom education">
    <div class="container feat-container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-5">
                    <h1>Education</h1>                                       
                </div>
            </div>
        </div>
        <div class="row feat-divider text-center p-1">
            <div class="container">
                <div class="educ-details">
                    <h3>Silliman University</h3>
                    <p>Dumaguete City, Negros Oriental</p>                    
                </div>
                <h4 class="sample-text">
                    Bachelor of Science in Computer Engineering
                </h4>
            </div>  
        </div>       
    </div>
</section>
<!-- End work experience Area -->

