<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
        <span class="mr-2">Powered by: </span>
                <img class="mr-2" src="/assets/img/logo.png" alt="" title="" />
        <img class="mr-2" src="/assets/img/angular-icon-1.png" height="40" alt="" title="Angular 20" />
        <img class="mr-2" src="/assets/img/bootstrap-logo.png" height="40" alt="" title="Bootstrap" />
        <img class="mr-2" src="/assets/img/kendo-ui.png" height="40" alt="" title="" />
            </div>
            <nav id="nav-menu-container">
                <ul ngbNav class="nav-menu" style="float:right">
                    <li ngbNavItem class="menu-active"><a ngbNavLink routerLinkActive="active" routerLink="home">Profile</a></li>
                    <li ngbNavItem class="menu-active"><a ngbNavLink routerLinkActive="active" routerLink="stories">CRUD Project</a></li>					
                    <!-- <li ngbNavItem class="menu-has-children"><a ngbNavLink>Projects</a>              
                        <ul ngbNav>
                            <li ngbNavItem routerLinkActive="active"><a ngbNavLink routerLink="demo">Mini Demo</a></li>
                            <li ngbNavItem routerLinkActive="active"><a ngbNavLink routerLink="projects">Major</a></li>
                        </ul>
                    </li>					 -->
                    <li ngbNavItem><a ngbNavLink routerLinkActive="active" routerLink="contact">Contact</a></li>
                </ul>        
            </nav>
        </div>
    </div>
</header>
