<div [formGroup]="myForm" (ngSubmit)="saveTutorial()">
  <div class="submit-form">
    @if (!submitted) {
      <div>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            formControlName="title"
            id="title"    
            [(ngModel)]="story.title"
            name="title"
            />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            formControlName="description"          
            [(ngModel)]="story.description"
            name="description"
            />
        </div>
        <button type="submit" (click)="saveTutorial()" class="btn btn-success">Submit</button>
      </div>
    }

    @if (submitted) {
      <div>
        <h4>Tutorial was submitted successfully!</h4>
        <!-- <button class="btn btn-success" (click)="newTutorial()">Add</button> -->
        <!-- <button type="submit" class="btn btn-success">Add</button> -->
      </div>
    }
  </div>
</div>
