<div class="modal-body">
    <div *ngIf="imageOne">
        <div class="w-100">
            <img class="img-fluid" src="/assets/img/imageOne.jpg" alt="" >
        </div>        
    </div>
    <div *ngIf="imageTwo">
        <div class="w-100">
            <img class="img-fluid" src="/assets/img/imageTwo.jpg" alt="" >
        </div>        
    </div>
    <div *ngIf="imageThree">
        <div class="w-100">
            <img class="img-fluid" src="/assets/img/imageThree.jpg" alt="" >
        </div>        
    </div>    
</div>


    